@font-face {
  font-family: "Gill-Sans";
  src: url(../fuentes/GillSans.otf);
}

@font-face {
  font-family: "Georgia-Estate";
  src: url(../fuentes/Georgia.ttf);
}



*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  color: #EEBCED;
  overflow-x: hidden
}


.separacion {
  height: 10px;
  background-color: #33015A;
}

.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33015A;
  height: 100%;
}

.Menu1{
  width: auto;
  background-color: #B0448F;
  padding: 0px 30px 0px 30px;
  color: white;
  margin-right: 20px;
  height: 55px;
  display: flex;
  align-items: center;
}

.Menu2{
  display: flex;
  justify-content: space-between;
  width: 75%;
  background-color: #B0448F;
  height: 100%;
  flex-flow: row wrap;
  padding: auto;
}

.Menu2 a {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  padding: 10px;
  border-left: solid 1px white;
  flex: 1 1 auto;
  text-decoration: none;
}

.Menu2 a:first-child {
  border-left: none;
}

.Inicio {
  display: flex;
  justify-content: center;
  background-color: #130516;
  color: #E7C1E8;
  padding: 30px 0px 30px 0px;
  font-size: 25px;
}

.texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Gill-Sans', serif;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

.fd {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.morado {
  color: #8322D3;
}



.rosado{
  color: #C34FC5;

  font-size: 50px;

  font-family: "Georgia";

  font-weight: 100;
}

.titulo-secciones1{
  background-color: #33015A;
  color: white;
  display: flex;
}

.titulo-secciones2 {
  background-color: #AA4391;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil-seccion{
  justify-content: end;
}

.perfil-seccion1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-seccion1 p {
  font-size: 30px;
  background-color: #B0448F;
  padding: 50px 50px 50px 75px;
  border-radius: 75px 0px 0px 75px;
  font-family:"Gill-sans";
}

#Perfil{
  background-color: #E9C0EC;
  padding: 20px 0px 20px 0px;
}

.imagen1 {
  width: 400px;
  height: 500px;
  object-fit: cover;
  margin: 25px 100px 25px 100px;
  border: solid #C674EE 10px;
  border-radius: 30px;
}

.perfil-seccion2{
  display: flex;
  justify-content: center;
  align-items: center;

}

.perfil-seccion2-izquierda {
  background-color: #881EE4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 30px;
  width: 500px;
  margin: 10px;
}

.perfil-seccion2-derecha {
  margin-left: 150px;
  background-color: white;
  width: 500px;
  border-radius: 30px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil-seccion2-derecha-superior {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.perfil-seccion2-derecha h2, .perfil-seccion2-derecha p  {
  color: black;
}

.perfil-seccion2 p {
  font-size: 25px;
}

h2{
  font-size: 35px;
}

.areas-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.areas-imagenes {
  height: 30vw;
  margin: 20px;
  border-radius: 20px;
}

.area-imagenes-margen {
  margin-left: 75px;
}

#Areas {
  display: flex;
  justify-content: center;
  padding: 150px 0px 150px 0px;
  background-color: #130516;
}

.contacto-seccion{
  justify-content: end;
}

#Contacto {
  background-color: #881EE4;
}

.contacto-seccion1{
  display: flex;
  justify-content: space-between;
}

.contacto-seccion1-izquierda, .contacto-seccion1-derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin: 50px 100px 50px 100px;
}

.contacto-seccion1-izquierda h1, .contacto-seccion1-derecha h1 { 
  font-size: 50px;
  color: #360D59;
}

.contacto-seccion1-derecha {
  justify-content: space-between;
}

.contacto-seccion1-izquierda p {
  font-size: 30px;
}

.iconos {
  height: 100px;
}

.icono-contacto {
  height: 60px;
  padding-right: 5px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.formulario-1 {
  display: flex;
  flex-direction: column;
}

.formulario h3 {
  font-size: 50px;
  margin: 30px;
  color: black;
}

.formulario label {

}

fieldset{
  border: none;
}


.formulario input, textarea, button {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  margin: 4px 10px 10px 10px;
  background-color: #823A86;
  border: none;
  padding: 10px;
  font-size: 15px;
  color: white;
}

.formulario input::placeholder, .formulario textarea::placeholder {
  color: #f1ccfd;
}


.formulario label {
  color: black;
  font-size: 30px;
}

.formulario textarea {
  height: 100px;
}
.formulario label {
  margin-left: 12px;
}

.formulario input[type=submit] {
  text-align: center;
  vertical-align: center;
  height: 40px;
  width: 150px;
}

.pie-de-pagina {
  background-color: #E9C0EC;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-de-pagina h6{
  color: black;
  font-size: 30px;
}

.menu-icono {
  height: 25px;
  display: none;
}

.inicio-imagen{
  height: 350px;
}

.contacto-seccion1-derecha-mobil {
  display: none;
}

.iconos-contacto  .iconos{
  margin-top: 30px;
  height: 60px;
  padding-right: 5px;
}




@media only screen and (max-width: 900px) {
  .perfil-seccion2-derecha{
    margin-left: 30px;
  }
  .imagen1 {
    margin: 30px;
  }
  .contacto-seccion1-derecha, .contacto-seccion1-izquierda{
    margin: 20px;
  }
  .pie-de-pagina h6{
    font-size: 20px;
  }
  .formulario-1 {
    align-items: center;
  }
}


@media only screen and (max-width: 600px) {


  .menu-icono {
    display: block;
  }

  .Menu{
    justify-content: space-between;
  }

  .Menu1 {
    padding: 10px;
  }

  h1 {
    font-size: 15px;
  }

  .Menu2{
    display: none;
  }

  .Menu3{
    margin-left: 10px;
  }


  .inicio-imagen{
    height: 290px;
    margin: 50px 0px 50px 0px;
  }

  .Inicio{
    padding-bottom: 300px;
  }

  .perfil-seccion{
   justify-content: start;
  }

  .titulo-secciones2{
    font-size: 15px;
    padding: 10px;
    width: 100px;
    margin-left: 10px;
  }

  .imagen1 {
    height: 250px;
    width: 170px;
    margin: 10px;
    border-radius: 40%;
    border: solid #C674EE 10px;
    object-fit: cover;
    margin-right: 30px;
  }
  .perfil-seccion1 p{
    border-radius: 30px 0px 0px 30px;
    font-size: 14px;
    padding: 40px 20px 40px 20px;
    word-wrap: break-word;
    hyphens: auto;
    border-radius: 50px 0px 0px 50px;
    text-align: justify;
  }

  .perfil-seccion2-izquierda{
    width: 200px;
  }

  .perfil-seccion2-derecha{
    width: 200px;
  }



  .perfil-seccion2{
    flex-direction: column;
  }

  .perfil-seccion2-izquierda {
    width: 95vw;
    flex-direction: row;
    border-radius: 10px;
    padding: 8px;
  }
  
  .perfil-seccion2-izquierda h2 {
    margin: 0px 20px 0px 12px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
  }

  .perfil-seccion2-izquierda p {
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 11px;
  }

  .perfil-seccion2-izquierda {
    margin-bottom: 30px;
  }

  .perfil-seccion2-derecha {
    width: 95vw;
    flex-direction: row;
    border-radius: 10px;
    padding: 8px;
    margin-left: 0px;
  }

  .perfil-seccion2-derecha p {
    font-size: 15px;
  }

  .perfil-seccion2-derecha h2 {
    font-size: 25px;
  }
  .areas-div { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



  .areas-imagenes {
    margin: 0px 0px 30px 0px;
    height: 400px;
  }

  .contacto-seccion1-derecha {
    display: none;
  }

  .contacto-seccion1 {
    justify-content: flex-start;
  }

  .contacto-seccion1-izquierda {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
  }

  .contacto-seccion1-izquierda h1 {
    font-size: 30px;
  }
  .contacto-seccion1-izquierda p {
    font-size: 20px;
  }

  .formulario h3 {
    font-size: 30px;
  }

  .pie-de-pagina h6 {
    font-size: 10px;
  }

  .contacto-seccion1-derecha-mobil {
    margin: 0;
    justify-content: center;
    display: flex;
  }

  .contacto-seccion1-derecha h1 {
    font-size: 30px;
  }

  .perfil-seccion2-derecha-superior {
    padding-left: 10px;
  }

  .iconos-perfil {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

  .iconos-perfil .iconos{
    height: 50px;
  }

  .habilidades-p p {
    font-size: 15px;
  }

  .Inicio {
    margin-top: 50px;
  }

  .Menu{
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  }

  .contacto-seccion1-derecha-mobil h1{
    color: white;
  }

  .formulario h3 {
    color: black;
  }

}

